html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem == 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: normal;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

/**Header y navegación**/

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.nombre-sitio {
  color: #000000;
  margin-top: 1rem;
  text-align: center;
}
.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}

.nav-principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

/**Categorías**/
.categorias {
  padding-top: 5rem;
}
.categorias h2 {
  text-align: center;
}

.categorias a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
